<html>

<head>
    <meta charset="UTF-8">
    <title>Dispatch - Add Group Member</title>
    <link rel="stylesheet" href="/static/styles/textStyle.css" />
    <link rel="stylesheet" href="/static/styles/materialize.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="/static/styles/materialize.min.css" media="screen,projection" />
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/styles/topNavBar.css" />
</head>

<body>
    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="/static/js/materialize.min.js"></script>
    <div class="topnav">
        <a href='/home' style="text-decoration:none;">
            Home
        </a>
        <a href='/home/profile' style="text-decoration:none;">
            Profile
        </a>
        <a href='/home/friendhome' style="text-decoration:none;">
            Friends
        </a>
        <a href='/home/friendgroups' style="text-decoration:none;">
            Friend Groups
        </a>
        <a href='/home/tags' style="text-decoration:none;">
            Tags
        </a>
        <a href='/home/favorites' style="text-decoration:none;">
            Favorites
        </a>
        <a href='/home/medialibrary' style="text-decoration:none;">
            Media Library
        </a>
        <a href='/home/settings' style="text-decoration:none;">
            Settings
        </a>
        <a href='/logout' style="text-decoration:none;">
            Logout
        </a>
    </div>
    <div class=content>
        <span>
            <font size='40em'>Deleting Group Members From {{group_name}} Owned By {{session["fname"]}} {{session["lname"]}} ({{session["username"]}}).</font>
        </span>
        {% for member in members %}
        <br/>
        <br/>
        <span>{{member.first_name}} {{member.last_name}} {{member.username}}</span>
        <span style="float:right">
            <a href='/home/friendgroups/deleteMember/deleteMemberAuth?deleting={{member.username}}&from={{group_name}}' class="waves-effect waves-light btn">Remove</a>
        </span>
        {% endfor %}
    </div>
</body>

</html>