<html>

<head>
    <meta charset="UTF-8">
    <title>Dispatch - Your Friend Groups</title>
    <link rel="stylesheet" href="/static/styles/textStyle.css" />
    <link rel="stylesheet" href="/static/styles/topNavBar.css" />
</head>

<body>

    <div class="topnav">
        <a href='/home' style="text-decoration:none;">
            Home
        </a>
        <a href='/home/profile' style="text-decoration:none;">
            Profile
        </a>
        <a href='/home/friendhome' style="text-decoration:none;">
            Friends
        </a>
        <a href='/home/friendgroups' style="text-decoration:none;">
            Friend Groups
        </a>
        <a href='/home/tags' style="text-decoration:none;">
            Tags
        </a>
        <a href='/home/favorites' style="text-decoration:none;">
            Favorites
        </a>
        <a href='/home/medialibrary' style="text-decoration:none;">
            Media Library
        </a>
        <a href='/home/settings' style="text-decoration:none;">
            Settings
        </a>
        <a href='/logout' style="text-decoration:none;">
            Logout
        </a>
    </div>
    <div class=content>
        <span>
            <font size='40em'>Your Groups, {{session["fname"]}} {{session["lname"]}}.</font>
        </span>
        <a href='/home/friendgroups/addfriendgroup' style="text-decoration:none;">
            <span style='float:right'>Add Group</span>
        </a>
        <br/> {% for group in groups%}
        <a href='/home/friendgroups/messages?groupSelected={{group.group_name}}&username_creator={{group.username_creator}}' style="text-decoration:none;">
            <p>{{group.group_name}} ({{group.username_creator}})</p>
        </a>
        {% endfor %}
        <a href='/home' style="text-decoration:none;"><font size='3em'><span style='float:right'>Go Back Home</span></font></a>
    </div>
</body>

</html>