<html>

<head>
    <meta charset="UTF-8">
    <title>Dispatch - Your Friend Groups</title>
    <link rel="stylesheet" href="/static/styles/textStyle.css" />
</head>

<body>
    <div class=content>
        <span><font size='40em'>Your Groups, {{session["fname"]}} {{session["lname"]}}.</font></span><a href='/home/friendgroups/addfriendgroup' style="text-decoration:none;"><span style='float:right'>Add Group</span></a><br/>
        <span style='float:right'><font size='2em'><a href='/home' style="text-decoration:none;"><p>Go Back Home</p></a><br/>
        {% for group in groups%}
        <a href='/home/friendgroups/messages?groupSelected={{group.group_name}}&username_creator={{group.username_creator}}' style="text-decoration:none;">
            <p>{{group.group_name}} {{group.username_creator}}</p>
        </a>
        {% endfor %}
    </div>
</body>

</html>