<table border="1">
{% for content in contents %} 
    <tr>
        <td> {{content.ContentOwner}}: </td>
        <td> {{content.ContentID}} </td>  
        <td> 
        	<!-- display content -->
        	{% if content.content_name == 'ImageContent' %}
        		<img src='{{content.url}}' height='80em'>
        	{% elif content.content_name == 'TextContent' %}
        		{{content.text_content}} 
        	{% endif %}

        	<!-- display comments -->
        	{% if comments is defined %}
        	<ul>
        		{% for comment in comments[ content.ContentID ] %}
        			<li>{{comment.username}}: {{comment.comment_text}}</li>
        		{% endfor %}
        	</ul>
        	{% endif %}

        	<!-- comment form -->
        	<form style="display: none;" id="commentForm{{content.ContentID}}" action="/comment" method="POST">
	            <br />
	            <div class="textbox">
	                <input type="text" style="width: 92%" placeholder="Comment text..." name="comment_text" id="comment_box{{content.ContentID}}" />
	                <input type="hidden" value={{content.ContentID}} name='ContentID'>
	                <input type="hidden" value={{session['username']}} name='commenter_name'>
	                <input type="submit" text="Send" class="sendButton" onclick="getMessages();updateScroll();update=true;" />
	            </div>
	        </form>

        </td> 
        <td>
        	<a onclick="update=false; $('#commentForm{{content.ContentID}}').show(); $('#comment_box{{content.ContentID}}').focus();"> ⃔comment </a>
        </td>
    </tr>
{% endfor %}
</table>

