<html>

<head>
    <meta charset="UTF-8">
    <title>Dispatch - Messages</title>
    <link rel="stylesheet" href="/static/styles/textStyle.css" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <script>
        function getMessages() {
            $(function() {
              $("#input_box").focus();
            });

            $.ajax({
              url: "{{ url_for('getMessages') }}",
              success: function(response) {
                $("#scrollBox").html(response);
              },
              error: function(xhr) {
                //Do Something to handle error
              }
            });
        };

        window.setInterval(getMessages, 200);
    </script>

</head>

<body>  
<center class="content">
    <div class="textbox">
        <span><b>{{session['groupSelected'][1]}}'s {{session['groupSelected'][0]}}</b></span>
    </div>


        <br />
        <div id="scrollBox" class="scrollBox">

        </div>

        <form action="/addMessage" method="POST">
            <br />
            <div class="textbox">
                <input type="text" style="width: 92%" placeholder="Enter your message" name="userEnteredMessage" id="input_box" />
                <input type="submit" text="Send" class="sendButton" onclick="getMessages()" />
            </div>
        </form>

</center>
</body>

</html>