<html>

<head>
    <meta charset="UTF-8">
    <title>Dispatch - Messages</title>
    <link rel="stylesheet" href="/static/styles/textStyle.css" />
</head>

<body>  
<center class="content">
    <div class="textbox">
        <span><b>{{session['groupSelected']}}</b></span>
    </div>


        <br />
        <div class="scrollBox">
            {% for message in messages %} 
                <p>{{message.id}} {{message.text_content}}</p>
            {% endfor %}
        </div>

        <form action="/addMessage" method="POST">
            <br />
            <div class="textbox">
                <input type="text" style="width: 92%" placeholder="Enter your message" name="userEnteredMessage" />
                <input type="submit" text="Send" class="sendButton" />
            </div>
        </form>

</center>
</body>

</html>