<html>

<head>
    <meta charset="UTF-8">
    <title>Dispatch - Messages</title>
    <link rel="stylesheet" href="/static/styles/textStyle.css" />
    <link rel="stylesheet" href="/static/styles/topNavBar.css" />
    <link rel="stylesheet" href="/static/styles/textStyle.css" />
    <link rel="stylesheet" href="/static/styles/materialize.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="/static/styles/materialize.min.css" media="screen,projection" />
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <script>
        var update = true;
        function getMessages() {
            if (update) {
                $.ajax({
                    url: "{{ url_for('content_blueprint.getMessages') }}",
                    success: function (response) {
                        $("#messages").html(response);
                    },
                    error: function (xhr) {
                        //Do Something to handle error
                    }
                });
            } // end if(update)
            // updateScroll();
        };

        function updateScroll() {
            // element = document.getElementById("scrollBox");
            // if (element != null)
            //     element.scrollTop = element.scrollHeight;
        }

        getMessages();
        $(function () {
            $("#input_box").focus();
        });

        // window.setInterval(getMessages, 200);
    </script>
   
</head>

<body>

    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="/static/js/materialize.min.js"></script> {% include 'topnav.html' %}

    <center class="content">
        <div class="textbox">
            <span>{{session['groupSelected'][1]}}'s {{session['groupSelected'][0]}}</span>
        </div>


        <br />
        <div id="scrollBox" class="scrollBox">
            <div id="messages">
            </div>
        </div>

        <div class="textbox">
            <form action="/addContent" method="POST">
                <input type="text" style="width: 92%" placeholder="Enter a message or post a URL" name="input_text" id="input_box"
                />
                <br />

                <input type="checkbox" id="indeterminate-checkbox" name="is_public">
                <label for="is_public">Make Public?</label>

                <input type="radio" id="choice1" name="content_type" value="TextContent" checked="checked">
                <label for="choice1">Posting Text?</label>

                <input type="radio" id="choice2" name="content_type" value="ImageContent">
                <label for="choice2">Posting Images?</label>

                <input type="radio" id="choice3" name="content_type" value="VideoContent">
                <label for="choice3">Posting Video?</label>

                <input type="radio" id="choice4" name="content_type" value="AudioContent">
                <label for="choice4">Posting Audio?</label>

                <input type="submit" value="Post" class="sendButton" />
            </form>
        </div>


        <!--  <form action="/addMessage" method="POST">
            <br />
            <div class="textbox">
                <input type="text" style="width: 92%" placeholder="Enter your message" name="userEnteredMessage" id="input_box" />
                <input type="submit" text="Send" class="sendButton" onclick="getMessages();updateScroll();" />
            </div>
        </form>

        <form action="/addPhoto" method="POST">
            <br />
            <div class="textbox">
                <input type="text" style="width: 92%" placeholder="Enter the url of the image you'd like to share..." name="photo_url" id="input_box" />
                <input type="submit" text="Send" class="sendButton" onclick="getMessages();updateScroll();" />
            </div>
        </form> -->

    </center>
</body>

</html>