<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="Cache-control" content="no-cache" />
    <title>Dispatch - Profile</title>
    <link rel="stylesheet" href="/static/styles/textStyle.css" />
    

    <script type="text/javascript">
    function reload() {
            if (update) {
                $.ajax({
                    url: "{{ url_for('content_blueprint.getMessages') }}",
                    success: function (response) {
                        $("#messages").html(response);
                    },
                    error: function (xhr) {
                        //Do Something to handle error
                    }
                });
            } // end if(update)
        };
    </script>

</head>

<style>
    a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
}
p{
    font-family: sans-serif;

}
</style>

<body>

    {% include 'topnav.html' %}
 

    <div class=content>
         <span><font size='40em'>Your Profile, {{session["fname"]}} {{session["lname"]}}.</font></span><br/>
         {% for prof in profs %}
         <p> Username: {{prof.username}} </p>
         <P> Profile Pic: </P>
         <p> <img src= '{{prof.url}}' width=200 height=200> </p>
         <h1 style="background-color:{{prof.color}};"> Your Color </h1>
         {% endfor %}
    </div>
    <div class=textbox>
        <form action="/addContentToProfile" method="POST">
            <input type="text" style="width: 92%" placeholder="Change Your Profile Picture Here! (enter a url)" name="input_text" id="input_box" /> <br />

            <input type="hidden" id="is_public" name="is_public" value='True'>

            <input type="hidden" id="choice2" name="content_type" value="ImageContent">

            <input type="submit" value="Post" class="sendButton" />
        </form>
    </div>
</body>

</html>