<html>

<head>
    <meta charset="UTF-8">
    <title>Dispatch - Settings</title>
    <link rel="stylesheet" href="/static/styles/textStyle.css" />
    <link rel="stylesheet" href="/static/styles/materialize.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="/static/styles/materialize.min.css" media="screen,projection" />
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
</head>

<body>
    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="/static/js/materialize.min.js"></script>
    
    {% include 'topnav.html' %}
    
    <div class=content>
        <p>
            <font size='40em'>General Settings.</font>
        </p>
        <br/>
        <p>Change Color: </p>
        <form action="/changecolor">
            <span>Select your favorite color: </span>
            <input type="color" name="favcolor" value={{color}}>
            <input type="submit">
        </form>

        <a href='/settings/changepass' style="text-decoration:none;">
            <p>Change Password</p>
        </a>

        <a href='/settings/deleteAccount' style="text-decoration:none;">
            <p>Delete Account</p>
        </a>

    </div>
</body>

</html>