<div id="content">
<head>
    <meta charset="UTF-8">
    <title>Dispatch - Settings</title>
    <link rel="stylesheet" href="/static/styles/homestyle.css" />
	<a href='/home' style="text-decoration:none;">
        <p>Home</p>
    </a>
</head>

<p>General Settings</p>

<form>

<p>

<ul>

<p><label class="settings-label">Account Email: </label><input class="settings-input" /></p><br/>
<p><label>Change Color <span>Implement Color change later</span></label></p><br/>
<p><label for="pass1">Change Password: <span>(leave blank for no change)</span></label></p><br/>

</ul>

</p>

</form>