<html>

<head>
    <meta charset="UTF-8">
    <title>Dispatch - Your Tags</title>
    <link rel="stylesheet" href="/static/styles/textStyle.css" />
    <link rel="stylesheet" href="/static/styles/topNavBar.css" />
</head>

<style>
    a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
}
</style>

<body>

    <div class="topnav">
        <a href='/home' style="text-decoration:none;">
            Home
        </a>
        <a href='/home/profile' style="text-decoration:none;">
            Profile
        </a>
        <a href='/home/friendhome' style="text-decoration:none;">
            Friends
        </a>
        <a href='/home/friendgroups' style="text-decoration:none;">
            Friend Groups
        </a>
        <a href='/home/tags' style="text-decoration:none;">
            Tags
        </a>
        <a href='/home/favorites' style="text-decoration:none;">
            Favorites
        </a>
        <a href='/home/medialibrary' style="text-decoration:none;">
            Media Library
        </a>
        <a href='/home/settings' style="text-decoration:none;">
            Settings
        </a>
        <a href='/logout' style="text-decoration:none;">
            Logout
        </a>
    </div>
    <div class=content>
        <span><font size='40em'>Your Pending Tags, {{session["fname"]}} {{session["lname"]}}.</font></span><br/>
        {% for tag in tags%}
        <p> User  {{tag.username_tagger}}  has tagged you in content <a style="float:right"><a href='/home/tags/acceptTag?taggedBy={{tag.username_tagger}}&tagID={{tag.id}}' class='Button'> Accept </a> 
        <a href='/home/tags/declineTag?taggedBy={{tag.username_tagger}}&tagID={{tag.id}}' class='Button'> Decline </a> 
        {% endfor %}
    </div>
</body>

</html>